In [11]:
# Dependencies
import pandas as pd
import numpy as np

In [12]:
# Name of the CSV file
file = '2012-18_teamBoxScore.csv'

In [13]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding="ISO-8859-1")

In [14]:
# Preview of the DataFrame
# Note that FIELD8 is likely a meaningless column
df.head()

,gmDate,gmTime,seasTyp,offLNm1,offFNm1,offLNm2,offFNm2,offLNm3,offFNm3,teamAbbr,...,opptFIC40,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,poss,pace
0,2012-10-30,19:00,Regular,Brothers,Tony,Smith,Michael,Workman,Haywoode,WAS,...,61.6667,105.6882,94.4447,11.2435,0.4390,16.7072,1.0476,33.3333,88.9409,88.9409
1,2012-10-30,19:00,Regular,Brothers,Tony,Smith,Michael,Workman,Haywoode,CLE,...,56.0417,94.4447,105.6882,-11.2435,0.3765,18.8679,2.0000,84.6154,88.9409,88.9409
2,2012-10-30,20:00,Regular,McCutchen,Monty,Wright,Sean,Fitzgerald,Kane,BOS,...,80.8333,126.3381,112.6515,13.6866,0.5244,19.8287,3.1250,100.0000,94.9832,94.9832
3,2012-10-30,20:00,Regular,McCutchen,Monty,Wright,Sean,Fitzgerald,Kane,MIA,...,62.7083,112.6515,126.3381,-13.6866,0.4643,18.8501,1.5000,25.0000,94.9832,94.9832
4,2012-10-30,22:30,Regular,Foster,Scott,Zielinski,Gary,Dalen,Eric,DAL,...,58.6458,99.3678,108.1034,-8.7356,0.5000,18.6567,1.7143,42.8571,91.5790,91.5790

In [15]:
df.shape

(14758, 123)

In [16]:
df.columns

Index(['gmDate', 'gmTime', 'seasTyp', 'offLNm1', 'offFNm1', 'offLNm2',
       'offFNm2', 'offLNm3', 'offFNm3', 'teamAbbr',
       ...
       'opptFIC40', 'opptOrtg', 'opptDrtg', 'opptEDiff', 'opptPlay%', 'opptAR',
       'opptAST/TO', 'opptSTL/TO', 'poss', 'pace'],
      dtype='object', length=123)

In [10]:
reduced_df = df.loc[:, ["teamRslt","teamPTS", "teamAST", "teamTO", "teamSTL", "teamBLK", "teamPF", "teamFGA", "teamFGM", 
                        "team2PM", "team3PM","opptPTS", "opptAST", "opptTO", "opptSTL", "opptBLK", "opptPF", "opptFGA", 
                        "opptFGM", "oppt2PM", "oppt3PM"]]
reduced_df.head()

,teamRslt,teamPTS,teamAST,teamTO,teamSTL,teamBLK,teamPF,teamFGA,teamFGM,team2PM,...,opptPTS,opptAST,opptTO,opptSTL,opptBLK,opptPF,opptFGA,opptFGM,oppt2PM,oppt3PM
0,Loss,84,26,13,11,10,19,90,32,24,...,94,22,21,7,5,21,79,36,29,7
1,Win,94,22,21,7,5,21,79,36,29,...,84,26,13,11,10,19,90,32,24,8
2,Loss,107,24,16,4,2,23,75,39,33,...,120,25,8,8,5,20,79,43,35,8
3,Win,120,25,8,8,5,20,79,43,35,...,107,24,16,4,2,23,75,39,33,6
4,Win,99,22,12,9,5,25,85,40,35,...,91,24,14,6,5,21,77,38,35,3

In [22]:
advance_stats_df = df.loc[:, ['teamRslt', 'team3PA', 'team3P%', 'teamFTA', 'teamTREB%', 
                              'teamASST%', 'teamEFG%', 'teamAST/TO', 'teamTO%']]

stats_df = df.loc[:, ["teamAST", "teamTO", "teamSTL", "teamBLK", "teamPF", "teamFGA",
                        "team2PM", "team3PM","opptAST", "opptTO", "opptSTL", "opptBLK", "opptPF", "opptFGA", 
                        "oppt2PM", "oppt3PM",'teamRslt', 'team3PA', 'team3P%', 'teamFTA', 'teamTREB%', 
                              'teamASST%', 'teamEFG%', 'teamAST/TO', 'teamTO%']]

In [21]:
advance_stats_df.to_csv('nba_advance_stats', encoding = 'utf-8', index = False)

In [15]:
reduced_df.to_csv("nba_test_stats", encoding = 'utf-8', index = False)

In [23]:
stats_df.to_csv('full_stats', encoding = 'utf-8', index = False)